@model SmartHomeMVC.Models.Alarm

@using (Html.BeginForm("AlarmEditPartial", "Alarm", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.title, "Название")
            <br />
            @Html.EditorFor(m => m.title)
        </p>
        <p>
            @Html.LabelFor(m => m.Condition, "Включить")
            <br />
            @Html.EditorFor(m => m.Condition)

        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}
